@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova_regular.eot');
  src: local('☺'), url('../fonts/proximanova_regular.woff') format('woff'), url('../fonts/proximanova_regular.ttf') format('truetype'), url('../fonts/proximanova_regular.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helveticaneuecyr_roman.eot');
  src: local('☺'), url('../fonts/helveticaneuecyr_roman.woff') format('woff'), url('../fonts/helveticaneuecyr_roman.ttf') format('truetype'), url('../fonts/helveticaneuecyr_roman.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
